@charset "utf-8";
.divbodyrojo{background-color: rgb(80, 6, 6);
    height:  700px;}
.divazulclaro{background-color: rgb(159, 194, 235);
    padding: 20px;
    margin-bottom:20px;
    margin-right:20px;
    margin-top:20px;
    height: 600px;}
.divrosa{background-color: rgb(247, 165, 215);
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    height: 540px;}
.divazuloscuro{background-color: rgb(43, 133, 236);
    padding-top: 4px;
    height: 450px;}
.divcontenedor{float:left;
    color:blanchedalmond;
    padding-right:5px;
    padding-top:5px;
    border-right:solid brown;}
.divchistes{box-shadow: 1px 1px 2px black;}