@charset "utf-8";
.parrafo2 {font-family:Verdana;
            font-size: 24px;
            color:red ;}
.h3{ color:indigo }
.parrafo3{ color:red; }
.H3segundo{ color:green; }
.parrafo4{ font-family: 'Lucida Sans'}
.span1{ color:blue}
.span2{ font-family: 'Times New Roman'}